.login {
  min-height: 100vh;
  background: linear-gradient(201deg, #ea1ac4, #f52eac, #8a0aa3);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.card {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.form {
  display: grid;
  justify-items: stretch;
  gap: 20px;
}

.title {
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: bold;

  text-align: center;
}

.logup {
  font-size: 14px;
  font-weight: 200;
  text-align: right;

  grid-column: 2;
}
